$tm-btn-color: #2C3040;
$tm-color-white: #FFFFFF;
$tm-color-text: #484848;
$tm-color-hyperlink-text: #3F80FF;
$tm-color-danger: #f55a4e;
// device status color
$tm-status-color-close: #2875AD;
$tm-status-color-rodent: #D44242;
$tm-status-color-open: #52A382;
$tm-status-color-no-trap-data: #90558A;
$tm-status-color-error: #f55a4e;
