@import "colors";
// BACKGROUND
.bg-transparent, .bg-transparent .v-item-group {
  background-color: transparent !important;
}

// BORDER
.bb-1 {
  border-bottom: 1px solid #BBB;
}
.border-white {
  border-color: white !important;
}

.br-6 {
  border-radius: 6px !important;
}
// BUTTON
.btn-tm {
  background-color: $tm-btn-color !important;
}

.btn-tm-outline {

  border: thin solid $tm-btn-color !important;
}

.btn-tm-outline span {
  color: $tm-btn-color !important;
}

// COLOR
.tm-danish-flag-color {
  color: #C60C30;
}
.text-tm-color {
  color: $tm-btn-color;
}
.leaflet-link-color {
  color: #0078A8 !important;
}
// FONT
$font-sizes: 12, 14, 16, 18, 22, 24, 26;
@each $font-size in $font-sizes {
  .font-#{$font-size} {
    font-size: $font-size+px !important;
  }
}
@for $i from 10 through 100{
  .font-size-#{$i} {
    font-size:$i+px !important;
  }
}
@for $i from 1 through 500{
  .tm-height-#{$i} {
    height:$i+px !important;
  }
}

$font-weights: 300, 400, 500, 600, 700, 800;
@each $font-weight in $font-weights {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight !important;
  }
}
.font-weight-500 {
  font-weight: 500;
}

//
$spread: 1, 2, 3, 4, 6;
//none|h-offset v-offset blur spread color
@each $spreads in $spread {
  .bs-#{$spreads} {
    box-shadow: 0px 0px $spreads+px rgba(0, 0, 0, 0.2) !important;
  }
}

.bs-4-4-12 {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.bs-7-7-12 {
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.08) !important;
}
strong {
  text-transform: initial !important;
}
// height
.h-39 {
  height: 39px !important;
}

.mx-h-120 {
  max-height: 120px;
}

// TEXT

.text-decoration-none {
  text-decoration: none;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
/*.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  !* Position the tooltip text *!
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  !* Fade in tooltip *!
  opacity: 0;
  transition: opacity 0.3s;
}*/
.tooltip .tooltiptext {
  font-size: 14px !important;
  font-weight: normal !important;
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity .6s;
}

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-top {   bottom: 125%;  left: 50%;  margin-left: -60px;}
.tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip-right {   top: -5px;    left: 125%;}
.tooltip-right::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.tooltip-bottom {    top: 135%;   left: 50%;    margin-left: -60px;}
.tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.tooltip-left {  top: -5px;   bottom: auto;    right: 128%;}
.tooltip-left::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

// Word
.word-beak-break-word {
  word-break: break-word !important;
}

//Vue Tour
.v-tour__target--highlighted {
  box-shadow: 0 0 0px 2000px rgba(0, 0, 0, 0.5) !important;
}

.vue2leaflet-map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  z-index: 200;
}