$tm-icon-text-align: center;
$tm-icon-border-radius: 50%;
$tm-icon-width: 40px;
$tm-icon-height: 40px;

.tm-icon-circle{
  text-align: $tm-icon-text-align;
  border-radius: $tm-icon-border-radius;
  width: $tm-icon-width;
  height: $tm-icon-height;
  &.tm-element-client{
    background: rgba(20, 210, 255, 0.15);
  }
  &.tm-element-case{
    background: rgba(119, 175, 255, 0.15);
  }
  &.tm-element-trap{
    background: rgba(20, 165, 255, 0.15);
  }
  &.tm-element-device{
    background: rgba(25, 59, 104, 0.15);
  }
  &.tm-element-trap-data{
    background: rgba(90, 95, 109, 0.15);
  }
  &.tm-device-available{
    background: rgba(2, 168, 49, 0.15);
  }
  &.tm-device-report-defect{
    background: rgba(255, 183, 81, 0.15);
  }
  &.tm-device-defect{
    background: rgba(244, 67, 54, 0.15);
  }
  &.tm-device-all{
    background: rgba(44, 48, 64, 0.15);
  }
  &.tm-device-transferred{
    background: rgba(40, 117, 173, 0.15);
  }
  &.tm-social-media{
    background: rgba(44, 48, 64);
  }
}
.tm-icon{
  padding: 10px;
  width: 100%;
  height: 100%;
}
.tm-icon-image-border{
  padding: 3px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 50%
}
.tm-icon-image{
  border-radius: 50%;
  border: 2px solid #3D4051;
  background-color: #3D4051;
}
.tm-icon-login-logo .v-responsive__content{
  width: 120px !important;
}

