.tm-pagination-auto-height {
  min-height:20px;
  max-height:200px;
  overflow-y:auto
}

.tm-pagination-group {
  height: 39px;
  .v-btn {
    height: 39px !important;
    background-color: white;
  }
}