.v-progress-circular__underlay {
  stroke: rgba(0, 0, 0, 0) !important;
}
$tm-progress-border: 50%;
$tm-progress-width: 100%;
$tm-progress-height: 100%;
$tm-progress-color: black;
$tm-progress-font: bold;
.v-progress-circular {
  &.tm-element-client {
    color: rgb(20, 210, 255);
    .v-progress-circular__info{
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(20, 210, 255, 0.15);
    }
  }
  &.tm-element-case {
    color: rgb(119, 175, 255);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(119, 175, 255, 0.15);
    }
  }
  &.tm-element-trap {
    color: rgb(20, 165, 255);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(20, 165, 255, 0.15);
    }
  }
  &.tm-element-device {
    color: rgb(25, 59, 104);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(25, 59, 104, 0.15);
    }
  }
  &.tm-element-trap-data {
    color: rgb(90, 95, 109);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(90, 95, 109, 0.15);
    }
  }
  &.tm-device-available {
    color: rgb(2, 168, 49);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(2, 168, 49, 0.15);
    }
  }
  &.tm-device-placed-at-customer-location {
    color: rgb(25, 59, 104);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(25, 59, 104, 0.15);
    }
  }
  &.tm-device-report-defect {
    color: rgb(255, 183, 81);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(255, 183, 81, 0.15);
    }
  }
  &.tm-device-defect {
    color: rgb(244, 67, 54);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(244, 67, 54, 0.15);
    }
  }
  &.tm-device-all {
    color: rgb(44, 48, 64);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(44, 48, 64, 0.15);
    }
  }
  &.tm-device-transferred {
    color: rgb(40, 117, 173);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(40, 117, 173, 0.15);
    }
  }
  &.tm-device-transferred {
    color: rgb(40, 117, 173);
    .v-progress-circular__info {
      border-radius: $tm-progress-border;
      width: $tm-progress-width;
      height: $tm-progress-height;
      color: $tm-progress-color;
      font-weight: $tm-progress-font;
      background: rgba(40, 117, 173, 0.15);
    }
  }
}
