.tm-side-nav-container
{
  height: calc( 100vh - 125px );
  overflow: auto;
}
.tm-side-nav-container-with-tab{
  height: calc( 100vh - 190px ) !important;
}
.tm-side-nav-container-left{
  height: calc( 100vh - 89px ) !important;
}
.tm-side-nav-container::-webkit-scrollbar {
  width: 6px;
}

.tm-side-nav-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
}

.tm-side-nav-container::-webkit-scrollbar-thumb {
  background-color: #c3c0c0;
  border-radius: 3px;
}
