.v-navigation-drawer {
  overflow: visible;
  box-shadow: 0 0 5px rgba(97, 97, 97, 0.4);
}

.v-badge__badge {
  font-size: 12px !important;
  min-width: 17px !important;
  max-height: 17px !important;
  padding: 3px 2px !important;
}

.v-list-item--active{
  border-left: 6px solid #343434;
  padding-left: 10px !important;
}

.font-weight-regular {
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 14px !important;
  display: flex !important;
  align-items: center !important;
  color: #000000 !important;
}

.v-card__title {
  font-size: 1rem !important;
}
